html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-size: cover;
  background-image: image-url("background.png");
  background-attachment: fixed;
}

.main-header {
  margin-bottom: 5%;
  width: 100%;
}

.main-header img {
  width: 100%;
  //max-width: 700px;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5%;
  margin-bottom: 5%;
}

.about {
  text-align: left;
  color: rgba(70, 70, 70, 1);
  margin-bottom: 5%;
}

.movie-wrap {
  position: relative;
  padding-top: 0%;
  padding-bottom: 56.25%;
  margin-bottom: 5%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.menu {
  .btn {
    margin: auto;
    margin-bottom: 10px;
  }
}

footer {
  width: 100%;
  background-color: rgba(111, 111, 111, 0.5);
  padding: 20px;
  color: white;
  padding-bottom: 10px;
}


