$small:  "only screen and (max-width:640px)";

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-size: cover;
  background-image: image-url("background.png");
  background-attachment: fixed;
}

footer {
  width: 100%;
  background-color: rgba(111, 111, 111,0.5);
  padding: 20px;
  color: white;
  padding-bottom: 10px;
}

.flash {
  color: white;
  padding-top: 10px;
}

@media #{$small} {
  .navbar-brand {
  font-size: 10px;
  }
}

@media (max-width: 2000px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}