.main-header {
  background-color: transparent;
  padding-top: 0%;
  padding-bottom: 0%;
  width: 100%;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}

.about {
  background-color: transparent;
  padding-bottom: 5%;
  b {
    color: #555;
  }
  .movie-wrap {
    padding-top: 5%;
  }
}

.menu {
  background-color: transparent;
  padding-bottom: 5%;
  .btn {
    margin: auto;
    margin-bottom: 10px;
    max-width: 560px;
  }
}