<p>Hello <%= @resource.email %>!</p>

<p>パスワード変更リクエストがありました。 以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし身に覚えがなければこのメールは無視してください。</p>
<p>リンクにアクセスしない限りパスワードは変更されません。</p>
